-- 1. Membuat fungsi khusus pendaftaran agar sistem mengizinkan penyimpanan
CREATE OR REPLACE FUNCTION public.register_pending_user(p_user_id uuid, p_req_role varchar, p_student_id uuid DEFAULT NULL)
RETURNS void
LANGUAGE sql
SECURITY DEFINER
AS $$$
  INSERT INTO public.pending_registrations (id, requested_role, student_id)
  VALUES (p_user_id, p_req_role, p_student_id)
  ON CONFLICT (id) DO UPDATE SET requested_role = EXCLUDED.requested_role, student_id = EXCLUDED.student_id;
$$$;

-- 2. Memperbarui fungsi get_all_users() untuk menampilkan kelas siswa yang dipilih saat mendaftar
DROP FUNCTION IF EXISTS public.get_all_users();
CREATE OR REPLACE FUNCTION public.get_all_users()
RETURNS TABLE (
  id uuid,
  email varchar,
  role text,
  created_at timestamp with time zone,
  requested_role varchar,
  student_name varchar
) 
LANGUAGE sql
SECURITY DEFINER
SET search_path = public
AS $$$
  SELECT 
    u.id, 
    u.email::varchar, 
    r.role, 
    r.created_at,
    p.requested_role::varchar,
    (s.full_name || COALESCE(' - Kelas ' || c.name, ''))::varchar as student_name
  FROM auth.users u
  JOIN public.user_roles r ON u.id = r.id
  LEFT JOIN public.pending_registrations p ON u.id = p.id
  LEFT JOIN public.students s ON p.student_id = s.id
  LEFT JOIN public.classes c ON s.class_id = c.id
  WHERE public.is_admin();
$$$;
