-- 1. Buat tabel observation_notes untuk menyimpan catatan spesialisasi bebas
CREATE TABLE IF NOT EXISTS public.observation_notes (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    student_id UUID NOT NULL REFERENCES public.students(id) ON DELETE CASCADE,
    assessor_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    role_type VARCHAR(20) NOT NULL CHECK (role_type IN ('Parent', 'Teacher')),
    notes TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    UNIQUE(student_id, assessor_id)
);

ALTER TABLE public.observation_notes ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Assessors can manage their observation notes" ON public.observation_notes TO authenticated USING (auth.uid() = assessor_id);
CREATE POLICY "Admins can view all observation notes" ON public.observation_notes FOR SELECT TO authenticated USING (public.is_admin());

-- 2. Tambahkan kolom specializations pada tabel talent_recommendations
ALTER TABLE public.talent_recommendations ADD COLUMN IF NOT EXISTS specializations TEXT[] DEFAULT '{}';
